.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    
}

.dashboard {
    background-color: #1992d4;
    color: white;
    padding: 20px;
    display: grid;
    grid-template-rows: 100px 1fr 2fr;
    gap: 40px;
    
    
}

.icon-link {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    gap: 10px;
}


.right-container {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.header1 {
  display: grid;
  grid-template-rows: auto auto;
  
    gap: 10px;
    
    
}

.content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: #e2e8f0;
}

.left-content {
    display: grid;
    grid-template-rows: 30px 1fr;
    gap: 20px;
    padding: 20px;
}

.right-content {
    display: grid;
    grid-template-rows: 30px 1fr 30px 1fr;
    gap: 20px;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
  
 box-sizing: border-box;

}

.project-box {
   background-color: white;
   height: 200px;
   border-radius: 15px;
   overflow: auto;
   box-sizing: border-box;
   padding: 10px 10px;
}



.icon {
    height: 30px;
    width: 30px;
    filter: invert(100%);
}

.icon2 {
    height: 30px;
    width: 30px;
    
}

.icon3 {
    width: 60px;
    height: 60px;
}

.imageicon {
    width: 30px;
    height: 30px;
}

#search-bar {
    width: 300px;
    background-color: #e2e8f0;
    border: white;
    border-radius: 10px;
}

button {
    width: 80px;
    height: 30px;
    background-color: #1992d4;
    border-radius: 15px;
    color: white;
    border: none;
    font-weight: bold;
}

.first-row,
.right-header,
.left-header,
.second-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 1px 10px;
    box-sizing: border-box;
}

